/* Reusable Styles
======================== */
/* line 16, ../default.scss */
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #323433;
  background-color: #F5F5F5;
}

/* line 23, ../default.scss */
.col-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 29, ../default.scss */
.intro-text {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #565A5C;
}
/* line 35, ../default.scss */
.intro-text h2 {
  font-size: 35px;
  font-weight: 700;
}
/* line 40, ../default.scss */
.intro-text p {
  font-weight: 400;
  font-size: 16px;
}

/* line 46, ../default.scss */
.hide {
  display: none;
}

/* Fixed Nav Bar Styles
======================== */
/* line 53, ../default.scss */
#fixed-nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 61, ../default.scss */
.menu-bar {
  height: 60px;
  padding-left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #dce0e0;
}
/* line 67, ../default.scss */
.menu-bar .home-logo {
  display: inline-block;
  width: 60px;
  height: 59px;
  border-right: 1px solid #dce0e0;
  text-align: center;
}
/* line 74, ../default.scss */
.menu-bar .home-logo:hover {
  background-color: #f7f8f8;
  border-bottom: 1px solid #dce0e0;
}
/* line 79, ../default.scss */
.menu-bar .home-logo img {
  width: auto;
  height: 50px;
  margin-top: 5px;
  transform: scale(0.9, 0.9);
  transition: all 0.3s cubic-bezier(0.51, 0.2, 0.29, 2.07);
}
/* line 86, ../default.scss */
.menu-bar .home-logo img:hover {
  transform: scale(1, 1);
}
/* line 92, ../default.scss */
.menu-bar .fixed-search {
  display: inline-block;
  width: 70%;
}
/* line 96, ../default.scss */
.menu-bar .fixed-search i {
  vertical-align: middle;
  margin: 0 10px 0 10px;
  color: #d3d3d3;
  font-size: 25px;
}
/* line 103, ../default.scss */
.menu-bar .fixed-search input {
  vertical-align: middle;
  width: 50%;
  margin-top: 5px;
  box-shadow: none;
  border: none;
  outline: none;
  line-height: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: #82888A;
  background-color: rgba(255, 255, 255, 0.05);
}
@media (max-width: 630px) {
  /* line 103, ../default.scss */
  .menu-bar .fixed-search input {
    width: 80%;
  }
}

/* Header and Search Bar Styles
======================== */
/* line 127, ../default.scss */
header {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/hero-paris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  position: relative;
}
/* line 136, ../default.scss */
header nav {
  position: relative;
  height: 50px;
  background-color: #4BBFBB;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* line 142, ../default.scss */
header nav #home-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  height: 50px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none !important;
  color: #FE6367;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none !important;
  z-index: 50;
}
/* line 159, ../default.scss */
header nav #explore-nav {
  margin-left: 120px;
}
/* line 162, ../default.scss */
header nav #explore-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 169, ../default.scss */
header nav #about-nav {
  margin-left: 30px;
}
/* line 172, ../default.scss */
header nav #about-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 179, ../default.scss */
header nav #contact-nav {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 30px;
}
/* line 185, ../default.scss */
header nav #contact-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 192, ../default.scss */
header nav ul {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 0;
  width: 100%;
}
/* line 199, ../default.scss */
header nav ul li {
  display: inline-block;
  padding-top: 16px;
}
/* line 203, ../default.scss */
header nav ul li a {
  position: relative;
  text-decoration: none !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
/* line 213, ../default.scss */
header nav ul li a:hover, header nav ul li a:active, header nav ul li a:focus {
  color: white;
  outline: none;
}
/* line 220, ../default.scss */
header nav ul li a:after {
  content: "";
  padding-bottom: 8px;
  display: block;
  border-bottom: 4px solid #FE6367;
  transform: scaleX(0.00001);
  transition: all 0.25s ease-in-out;
}
/* line 229, ../default.scss */
header nav ul li a:hover:after {
  transform: scaleX(1);
}
/* line 237, ../default.scss */
header .title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
}
/* line 244, ../default.scss */
header .title h1,
header .title h2 {
  color: white;
  text-align: center;
  display: inline-block;
}
@media (max-width: 440px) {
  /* line 252, ../default.scss */
  header .title h2 {
    font-size: 35px !important;
  }
}
/* line 257, ../default.scss */
header .title h1 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  order: 3;
}
/* line 264, ../default.scss */
header .title h2 {
  font-size: 40px;
  font-weight: 700;
  order: 2;
}
/* line 270, ../default.scss */
header .title .text-logo {
  order: 1;
  font-weight: 600;
  font-size: 30px;
  color: #FE6367;
}
/* line 277, ../default.scss */
header .title img {
  height: 28px;
  margin: 0 5px 10px 0;
}

/* line 284, ../default.scss */
#search-container {
  position: relative;
  margin-top: -80px;
  /* margin-bottom: 40px; */
  padding: 20px;
  z-index: 1;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 293, ../default.scss */
#search-container .btn-default {
  background-color: #4BBFBB;
  border-color: #4BBFBB;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  transition: all 0.2s ease-in-out;
}
/* line 302, ../default.scss */
#search-container .btn-default:hover {
  background-color: #0F948F;
  border-color: #0F948F;
}

/* Discovery Section Styles
======================== */
/* line 311, ../default.scss */
.discovery {
  padding-top: 60px;
  margin-bottom: 40px;
}

/* line 317, ../default.scss */
#discovery-tiles a {
  text-decoration: none;
  cursor: pointer;
}
/* line 322, ../default.scss */
#discovery-tiles .discovery-card {
  height: 350px;
  margin-bottom: 30px;
  opacity: .7;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 335, ../default.scss */
#discovery-tiles .discovery-card span {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px 0 10px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 347, ../default.scss */
#discovery-tiles .discovery-card:hover {
  opacity: 1;
}

/* About Section Styles
======================== */
/* line 356, ../default.scss */
.about {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: white;
  background-image: url("../img/about.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 367, ../default.scss */
.about-tile {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 25px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(166, 166, 166, 0.3);
  color: #565A5C;
}
/* line 376, ../default.scss */
.about-tile h3 {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}
/* line 385, ../default.scss */
.about-tile h3 .circle {
  width: 75px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: block;
  border: 3px solid rgba(0, 0, 0, 0.13);
  border-radius: 50%;
}
/* line 395, ../default.scss */
.about-tile h3 .circle i {
  text-align: center;
  vertical-align: middle;
  margin-left: 2px;
  line-height: 69px;
  color: rgba(0, 0, 0, 0.35);
}
/* line 405, ../default.scss */
.about-tile p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-size: 18px;
  line-height: 1.5em;
}

/* Footer Section Styles
======================== */
/* line 417, ../default.scss */
footer {
  background-color: #323433;
  background-image: url("../img/footer.png");
  background-size: 80%;
  color: white;
  font-weight: 300;
  font-size: 19px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 427, ../default.scss */
footer .technologies-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* line 435, ../default.scss */
footer .technologies-container .heading {
  flex: 100%;
  color: #82888A;
  margin-bottom: 30px;
}
/* line 442, ../default.scss */
footer .technologies-container .sass .sass-logo {
  height: 90px;
  width: 100px;
  background-image: url("../img/logo/sass-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 451, ../default.scss */
footer .technologies-container .sass .sass-logo:hover {
  background-image: url("../img/logo/sass.png");
}
/* line 458, ../default.scss */
footer .technologies-container .jade .jade-logo {
  height: 100px;
  width: 200px;
  background-image: url("../img/logo/jade-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 467, ../default.scss */
footer .technologies-container .jade .jade-logo:hover {
  background-image: url("../img/logo/jade.png");
}
/* line 474, ../default.scss */
footer .technologies-container .google-maps .google-maps-logo {
  height: 90px;
  width: 250px;
  background-image: url("../img/logo/google-maps-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 483, ../default.scss */
footer .technologies-container .google-maps .google-maps-logo:hover {
  background-image: url("../img/logo/google-maps.png");
}
/* line 490, ../default.scss */
footer .technologies-container .instagram .instagram-logo {
  height: 90px;
  width: 250px;
  background-image: url("../img/logo/instagram-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 499, ../default.scss */
footer .technologies-container .instagram .instagram-logo:hover {
  background-image: url("../img/logo/instagram.png");
}
@media (max-width: 930px) {
  /* line 506, ../default.scss */
  footer .technologies-container .sass,
  footer .technologies-container .jade,
  footer .technologies-container .google-maps,
  footer .technologies-container .instagram {
    flex: 50%;
  }
  /* line 512, ../default.scss */
  footer .technologies-container .sass a,
  footer .technologies-container .jade a,
  footer .technologies-container .google-maps a,
  footer .technologies-container .instagram a {
    display: inline-block;
  }
}
@media (max-width: 590px) {
  /* line 519, ../default.scss */
  footer .technologies-container .sass,
  footer .technologies-container .jade,
  footer .technologies-container .google-maps,
  footer .technologies-container .instagram {
    flex: 100%;
  }
  /* line 526, ../default.scss */
  footer .technologies-container .heading {
    font-size: 17px;
  }
}
/* line 533, ../default.scss */
footer .baseline-container {
  margin-top: 70px;
  position: relative;
  display: inline-block;
}
/* line 538, ../default.scss */
footer .baseline-container .connect-container {
  position: absolute;
  right: 40px;
  bottom: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
/* line 551, ../default.scss */
footer .baseline-container .connect-container p {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #82888A;
}
/* line 559, ../default.scss */
footer .baseline-container .connect-container .github-logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-image: url("../img/logo/github-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 569, ../default.scss */
footer .baseline-container .connect-container .github-logo:hover {
  background-image: url("../img/logo/github.png");
}
/* line 574, ../default.scss */
footer .baseline-container .connect-container .linkedin-logo {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 10px;
  background-image: url("../img/logo/linkedin-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in-out;
}
/* line 585, ../default.scss */
footer .baseline-container .connect-container .linkedin-logo:hover {
  background-image: url("../img/logo/linkedin.png");
}
@media (max-width: 930px) {
  /* line 538, ../default.scss */
  footer .baseline-container .connect-container {
    position: relative;
    right: 0;
    margin-right: 0;
  }
}
/* line 599, ../default.scss */
footer .baseline-container .branding-container {
  margin-top: 30px;
}
/* line 602, ../default.scss */
footer .baseline-container .branding-container p {
  color: #565A5C;
  font-size: 16px;
}

/* Photo Listings and Results Section Styles
======================== */
/* line 615, ../default.scss */
#results {
  height: 100vh;
  overflow: hidden;
}

/* line 620, ../default.scss */
.results {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 95vh;
}
/* line 625, ../default.scss */
.results .filters-container {
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  background-color: white;
  color: #82888A;
  vertical-align: middle;
}
/* line 634, ../default.scss */
.results .filters-container .filter-header {
  padding-top: 20px;
  padding-left: 30px;
  height: 30px;
  font-weight: 600;
  font-size: 15px;
  color: #565A5C;
}
/* line 643, ../default.scss */
.results .filters-container .filter-group {
  padding-top: 20px;
  padding-left: 40px;
  height: 80px;
  font-weight: 600;
}
/* line 650, ../default.scss */
.results .filters-container .filter-controls {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 655, ../default.scss */
.results .filters-container .filter-controls input {
  margin-bottom: 5px;
}
/* line 659, ../default.scss */
.results .filters-container .filter-controls label {
  font-weight: 400;
  margin-right: 15px;
}
/* line 664, ../default.scss */
.results .filters-container .filter-controls .range-control {
  display: flex;
  justify-content: space-between;
}
/* line 670, ../default.scss */
.results .filters-container hr {
  margin: 0 15px;
}
/* line 678, ../default.scss */
.results .highlight {
  box-shadow: 0 0 20px 5px rgba(74, 191, 187, 0.87);
  border-radius: 10px;
}
/* line 685, ../default.scss */
.results .tile .tile-header {
  height: 65px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #82888A;
  background-color: white;
}
/* line 699, ../default.scss */
.results .tile .tile-header .profile {
  padding-top: 10px;
  display: flex;
  line-height: 100%;
}
/* line 703, ../default.scss */
.results .tile .tile-header .profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* line 709, ../default.scss */
.results .tile .tile-header .profile .profile-text {
  margin-left: 10px;
  padding-top: 5px;
}
/* line 713, ../default.scss */
.results .tile .tile-header .profile .profile-text p.username {
  margin-bottom: 5px;
}
/* line 717, ../default.scss */
.results .tile .tile-header .profile .profile-text p.location {
  color: #565A5C;
  font-weight: 600;
}
/* line 727, ../default.scss */
.results .tile .tile-photo img {
  width: 100%;
}
/* line 732, ../default.scss */
.results .tile .tile-footer {
  height: 120px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 0 0 10px 10px;
  margin-bottom: 40px;
  background-color: white;
  padding: 10px;
}
/* line 741, ../default.scss */
.results .tile .tile-footer .likes {
  font-weight: 700;
  color: #565A5C;
  margin-bottom: 2px;
}
/* line 747, ../default.scss */
.results .tile .tile-footer p.caption {
  color: #565A5C;
  font-size: 13px;
}

/* line 755, ../default.scss */
#map {
  height: 95vh;
}

/* Overlay Styles
======================== */
/* line 762, ../default.scss */
.no-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

/* line 769, ../default.scss */
#overlay {
  position: absolute;
  height: 100vh;
  background: rgba(75, 191, 187, 0.99);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
/* line 785, ../default.scss */
#overlay.is-open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}
/* line 791, ../default.scss */
#overlay.is-open ul li.animate {
  transform: translate(0px, 0px);
  opacity: 1;
}
/* line 799, ../default.scss */
#overlay .about-me {
  display: inline-block;
  width: 85%;
  margin-top: 50px;
  margin-right: 15%;
  margin-left: 15%;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  color: white;
}
/* line 810, ../default.scss */
#overlay .about-me .name {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 20px;
}
/* line 816, ../default.scss */
#overlay .about-me .developer {
  display: inline;
  font-weight: 400;
  font-size: 30px;
}
/* line 822, ../default.scss */
#overlay .about-me span {
  margin-left: 5px;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
}
/* line 830, ../default.scss */
#overlay ul {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 70px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* line 840, ../default.scss */
#overlay ul li {
  list-style: none;
  position: relative;
  opacity: 0;
  transform: translate(-100px, 0px);
  transition: all 300ms cubic-bezier(0.18, -0.05, 0.4, 1.63);
}
/* line 847, ../default.scss */
#overlay ul li a {
  padding: 25px 20px 30px;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color .2s ease-in-out;
  transform: translateZ(0);
}
/* line 858, ../default.scss */
#overlay ul li a:after {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: all .2s ease-in-out;
  z-index: -1;
}
/* line 872, ../default.scss */
#overlay ul li a:hover {
  color: #565A5C;
}
/* line 876, ../default.scss */
#overlay ul li a:hover:after {
  transform: scaleY(1);
}
/* line 883, ../default.scss */
#overlay #close-btn {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 30px;
  line-height: 30px;
  transition: all 100ms ease-in-out;
}
/* line 892, ../default.scss */
#overlay #close-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/*# sourceMappingURL=default.css.map */
