
/* Reusable Styles
======================== */
$primary-black: #323433;
$primary-gray: #565A5C;
$secondary-gray: #82888A;
$tertiary-gray: #F5F5F5;
$border-gray: #dce0e0;
$primary-green: #4BBFBB;
$secondary-green: #0F948F;
$primary-pink: #FE6367;
$primary-yellow: #FFCA64;

$font-family: 'Open Sans', sans-serif;

html,
body {
  font-family: $font-family;
  color: $primary-black;
  background-color: $tertiary-gray;
}

.col-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .intro-text {
  margin-top: 20px;
  margin-bottom:40px;
  text-align: center;
  color: $primary-gray;

  h2 {
    font-size: 35px;
    font-weight: 700;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}


/* Header and Search Bar Styles
======================== */

#explore-nav {
  margin-left: 120px;
}

#home-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $tertiary-gray;
  height: 50px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none !important;
  color: $primary-pink;
  font-weight: 600;  
  font-size: 17px;
  text-decoration: none !important;
  z-index: 100;
}

#about-nav {
  margin-left: 30px;
}

header {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/hero-paris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  position: relative;

  nav {
    position: relative;
    height: 50px;
    background-color: $primary-green;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

    ul {
      display: inline-block;
      position: relative;
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        padding-top: 16px;

        a {
          position: relative;
          text-decoration: none !important;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer;
          font-weight: 400;
          font-size: 16px;

          &:hover,
          &:active,
          &:focus {
            color: white;
            outline: none;
          }

          &:after {
            content: "";
            padding-bottom: 8px;
            display: block;
            border-bottom: 4px solid $primary-pink;
            transform: scaleX(.00001);
            transition: all 0.25s ease-in-out;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;

    h1,
    h2 {
      color: white;
      text-align: center;
      display: inline-block;
    }

    h1 {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      order: 3
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      order: 2;
    }

    .text-logo {
      order: 1;
      font-weight: 600;
      font-size: 30px;
      color: $primary-pink;
    }

    img {
      height: 28px;
      margin: 0 5px 10px 0;
    }
  }
}

.search-container {
  position: relative;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 20px;
  z-index: 1;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-default {
    background-color: $primary-green;
    border-color: $primary-green;
    font-family: $font-family;
    font-weight: 300;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .btn-default:hover {
    background-color: $secondary-green;
    border-color: $secondary-green;
  }

}

/* Discovery Section Styles
======================== */
.discovery {
  margin-bottom: 80px;
}

.discovery-tiles {
  a {
    text-decoration: none;
  }

  .discovery-card {
    height: 350px;
    margin-bottom: 30px;
    opacity: .7;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

      span {
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 10px 0 10px;
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
      }
  }

  .discovery-card:hover {
    opacity: 1;
  }
}


/* About Section Styles
======================== */

.about {
  padding-top: 60px;
  padding-bottom: 50px;
  height: 700px;
  background-color: white;
  background-image: url('../temp/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-tile {
  background-color: white;
  height: 400px;
  padding-top: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(166, 166, 166, 0.3);
  color: $secondary-gray;

  h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 300;

    i {
      margin-right:15px;
      color: $primary-gray;
    }
  }
}

/* Footer Section Styles
======================== */
footer {
  background-color: $primary-black;
  color: white;
  font-weight: 300;
  font-size: 19px;
  text-align: center;
  padding-bottom: 10px;

  .technologies-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .heading {
      flex: 100%;
      color: $secondary-gray;
      margin-bottom: 30px;
    }

    .sass {
      .sass-logo {
        height: 90px;
        width: 100px;
        background-image: url("../img/logo/sass-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/sass.png");
        }
      }
    }

    .jade {
      .jade-logo {
        height: 100px;
        width: 200px;
        background-image: url("../img/logo/jade-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/jade.png");
        }
      }
    }

    .google-maps {
      .google-maps-logo {
        height: 90px;
        width: 250px;
        background-image: url("../img/logo/google-maps-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/google-maps.png");        
        }
      }
    }

    .instagram {
      .instagram-logo {
        height: 90px;
        width: 250px;
        background-image: url("../img/logo/instagram-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/instagram.png");
        }
      }
    }

    @media(max-width: 930px) {
      .sass,
      .jade,
      .google-maps,
      .instagram {
        flex: 50%;

        a {
          display: inline-block;
        }
      }
    }

    @media(max-width: 590px) {
      .sass,
      .jade,
      .google-maps,
      .instagram {
        flex: 100%;
      }

      .heading {
        font-size: 17px;
      }
    }

  }  

  .baseline-container {
    margin-top: 70px;
    position: relative;
    display: inline-block;

    .connect-container {
      position: absolute;
      right: 40px;
      bottom: 0;
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      z-index: 100;


      p {
        margin-top: 10px;
        margin-right: 20px;
        font-size: 14px;
        font-weight: 300;
        color: $secondary-gray;
      }

      .github-logo {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        background-image: url("../img/logo/github-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/github.png");
        }
      }

      .linkedin-logo {
        height: 25px;
        width: 25px;
        margin-top: 5px;
        margin-left: 10px;
        background-image: url("../img/logo/linkedin-gray.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-image: url("../img/logo/linkedin.png");
        }
      }

      @media(max-width: 930px) {
        position: relative;
        right: 0;
        margin-right: 0;
      }


    }

    .branding-container {
      margin-top: 30px;

      p {
        color: $primary-gray;
        font-size: 16px;
      }
    }
  }
}



/* Photo Listings and Results Section Styles
======================== */

.listings {
  height: 95vh;
  position: relative;
}

.menu-bar {
  z-index: 100;
  height: 60px;
  padding-left: 0;
  background-color: white;
  border: 1px solid $border-gray;

  .home-logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-right: 1px solid $border-gray;
    text-align: center;

    &:hover {
      background-color: #f7f8f8;
      border-bottom: 1px solid $border-gray;
    }

    img {
      width: auto;
      height: 50px;
      margin-top: 5px;
      transform: scale(.9, .9);
      transition: all 0.3s cubic-bezier(0.51, 0.2, 0.29, 2.07);

      &:hover {
      transform: scale(1, 1);
      }
    }
  }

  .listings-search {
    display: inline-block;
    width: 70%;
    
    i {
      vertical-align: middle;
      margin: 0 10px 0 10px;
      color: #d3d3d3;
      font-size: 25px;
    }

    input {
      vertical-align: middle;
      width: 50%;
      margin-top: 5px;
      box-shadow: none;
      border: none;
      outline: none;
      line-height: 1.2em;
      font-family: $font-family;
      color: $secondary-gray;
    }
  }

}

.results {
  overflow-y: scroll;
  height: 95vh;

  .filters-container {
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    background-color: white;
    color: $secondary-gray;
    vertical-align: middle;

    .filter-header {
      padding-top: 20px;
      padding-left: 30px;
      height: 30px;
      font-weight: 600;
      font-size: 15px;
      color: $primary-gray;
    }

    .filter-group {
      padding-top: 20px;
      padding-left: 40px;
      height: 80px;
      font-weight: 600;
    }

    .filter-controls {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;

      input {
        margin-bottom: 5px;
      }

      label {
        font-weight: 400;
        margin-right: 15px;
      }

      .range-control {
        display: flex;
        justify-content: space-between;
      }
    }

    hr {
      margin: 0 15px;
    }
  }




  .highlight {
    box-shadow: 0 0 20px 5px rgba(74, 191, 187, 0.87);
    border-radius: 10px;
  } 

  .tile {

    .tile-header {
      height: 65px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #d3d3d3;
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $secondary-gray;
      background-color: white;


      .profile img {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
      }

      p {
        display: inline-block;
      }
    }

    .tile-photo {

      img {
        width: 100%;
      }
    }

    .tile-footer {
      height: 90px;
      width: 100%;
      border: 1px solid #d3d3d3;
      border-radius: 0 0 10px 10px;
      margin-bottom: 40px;
      background-color: white;
      padding: 10px;

      .likes {
        font-weight: 700;
        color: $primary-gray;
        margin-bottom: 2px;
      }

      .description {
        color: $primary-gray;
        font-size: 13px;
      }
    }
  }
}

#map {
  height: 95vh;
}











