
/* Reusable Styles
======================== */
$primary-black: #323433;
$primary-gray: #565A5C;
$secondary-gray: #82888A;
$tertiary-gray: #F5F5F5;
$primary-green: #4BBFBB;
$secondary-green: #0F948F;
$primary-pink: #FE6367;
$primary-yellow: #FFCA64;

$font-family: 'Open Sans', sans-serif;

html,
body {
  font-family: $font-family;
  color: $primary-black;
  background-color: $tertiary-gray;
}

.col-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .intro-text {
  margin-top: 100px;
  margin-bottom:40px;
  text-align: center;
  color: $primary-gray;

  h2 {
    font-size: 35px;
    font-weight: 700;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}


/* Header and Search Bar Styles
======================== */

#explore {
  margin-right: 90px;
}

#home {
  position: absolute;
  margin-left: -40px;
  z-index: 999;

  a {
    display: block;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
    background-image: url('../img/logo-round.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 61px 61px;

    &:after {
      border-bottom: none !important; 
    }
    
    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid $primary-black;
      transform: scale(0.8, 0.8);
      transition: all 0.3s cubic-bezier(0.51, 0.2, 0.29, 2.07);  

      &:hover {
        transform: scale(1, 1);
      }
    }
  }
}

#about {
  margin-left: 90px;
}

header {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../img/hero-istanbul.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  nav {
    height: 50px;
    background-color: $primary-green;

    ul {
      position: relative;
      list-style: none;
      padding: 0;
      margin-left: -10px;

      li {
        display: inline-block;
        vertical-align: top;
        margin-top: 16px;

        a {
          position: relative;
          text-decoration: none !important;
          color: $primary-black;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;

          &:hover,
          &:active {
            color: $primary-black;
          }

          &:after {
            content: "";
            display: block;
            border-bottom: 2px solid $primary-black;
            transform: scaleX(.00001);
            transition: all 0.25s ease-in-out;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;

    h1,
    h2 {
      color: white;
      text-align: center;
      display: inline-block;
    }

    h1 {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      order: 3
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      order: 2;
    }

    .text-logo {
      order: 1;
      font-weight: 600;
      font-size: 24px;
      color: $primary-green;
    }

    img {
      height: 28px;
      margin: 0 5px 10px 0;
    }
  }
}

.search-container {
  position: relative;
  margin-top: -80px;
  padding: 20px;
  z-index: 1;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);

  .btn-default {
    background-color: $primary-green;
    border-color: $primary-green;
    font-family: $font-family;
    font-weight: 300;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .btn-default:hover {
    background-color: $secondary-green;
    border-color: $secondary-green;
  }

}

/* Discovery Section Styles
======================== */

.discovery-tiles {
  a {
    text-decoration: none;
  }

  .discovery-card {
    height: 350px;
    margin-bottom: 30px;
    opacity: .7;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

      span {
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 10px 0 10px;
        color: white;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
      }
  }

  .discovery-card:hover {
    opacity: 1;
  }
}

/* Photo Listings and Results Section Styles
======================== */

.results {
  overflow-y: scroll;
  height: 90vh;

  .highlight {
    box-shadow: 0 0 20px 5px rgba(74, 191, 187, 0.87);
    border-radius: 10px;
  } 

  .tile {

    .tile-header {
      height: 65px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #d3d3d3;
      border-radius: 10px 10px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $secondary-gray;
      background-color: white;


      .profile img {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
      }

      p {
        display: inline-block;
      }
    }

    .tile-photo {

      img {
        width: 100%;
      }
    }

    .tile-footer {
      height: 90px;
      width: 100%;
      border: 1px solid #d3d3d3;
      border-radius: 0 0 10px 10px;
      margin-bottom: 40px;
      background-color: white;
      padding: 10px;

      .likes {
        font-weight: 700;
        color: $primary-gray;
        margin-bottom: 2px;
      }

      .description {
        color: $primary-gray;
        font-size: 13px;
      }
    }
  }
}

#map {
  height: 90vh;
}











