doctype html
html
  head
    meta(charset="UTF-8")
    metca(name="viewport" content="width=device-width, initial-scale=1")
    //- BOOTSTRAP CSS CDN
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    //- OPEN SANS FONT GOOGLE CDN
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="css/default.css")
    title travelGram
  body
    header.container-fluid
      .row
        .col-sm-12
          h2 Where do you want to explore today?
          h1 Explore the world via instagram
    .search-container.container-fluid
        .col-xs-7.col-sm-5
          .input-group
            input(type="search" class="form-control" placeholder="Paris, France")
            span.input-group-btn
              button(class="btn btn-default" type="button") Go




        //- .col-sm-5
        //-   .input-group
        //-     input(type="text" class="form-control" placeholder="Paris, France")
        //-     span.input-group-btn
        //-       button(class="btn btn-default" type="button") Search

            
