doctype html
html
  head
    meta(charset="UTF-8")
    metca(name="viewport" content="width=device-width, initial-scale=1")
    //- BOOTSTRAP CSS CDN
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    //- OPEN SANS FONT GOOGLE CDN
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="css/default.css")
    title travelGram
  body
    //- Hero Section
    header.container-fluid
      .row
        .col-sm-12
          h2 Where do you want to explore today?
          h1 Explore the world via instagram

    //- Search Bar Section
    section.search-container.container-fluid
      .row
        .col-centered
          .col-xs-10.col-sm-5.col-lg-4
            .input-group
              input(type="search" class="form-control" placeholder="Istanbul, Turkey" autofocus="autofocus")
              span.input-group-btn
                button(class="btn btn-default" type="button") Search

    //- Discovery Section
    section.discovery.container
      .row
        .col-sm-12
          .intro-text
            h2 Explore The World
            p See what's happening on Instagram, anywhere in the world
          .discovery-tiles
            .col-sm-12.col-lg-8
              .discovery-card(style="background-image:url(../img/discovery/spain.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/paris.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/deli.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/canada.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/hong-kong.jpg)")
            .col-sm-12.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/san-francisco.jpg)")
            .col-sm-6.col-lg-8
              .discovery-card(style="background-image:url(../img/discovery/australia.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/chicago.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/tokyo.jpg)")
            .col-sm-6.col-lg-4
              .discovery-card(style="background-image:url(../img/discovery/bali.jpg)")







